@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-spaceMono;
    /* cursor: none; */
}

/* a,
button {
    cursor: none;
} */

.custom-box-shadow {
    box-shadow: 6px 6px 0px 0px black;
}

.panel {
    background-image: url('images/grid_pattern.png');
    background-repeat: repeat;
    background-size: 15px;
}

.blinking-cursor {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 220px;
    font-size: 14px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 95%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}