@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-spaceMono;
    /* cursor: none; */
}

/* a,
button {
    cursor: none;
} */

/* .custom-box-shadow {
    box-shadow: 6px 6px 0px 0px black;
} */

.custom-box-shadow {
    filter: drop-shadow(7px 7px 0 rgb(0 0 0 / 1));
    background-color: #fff;
    transition: filter;
    transition-duration: 0.5s;
    animation: ease-in-out;
}

.custom-box-shadow:hover {
    filter: drop-shadow(4px 4px 0 rgb(0 0 0 / 1));
}

.panel {
    background-image: url('../public/images/grid_pattern.png');
    background-repeat: repeat;
    background-size: 15px;
}

.blinking-cursor {
    animation: blink 1.5s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 220px;
    font-size: 14px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 95%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.4s;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.animated-btn {
    background: #fff;
    box-shadow: 4px 4px #7c7c7c, 9px 9px #151515;
    color: #151515;
    text-transform: lowercase;
    border: solid 2px #151515;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    cursor: pointer;
    overflow: hidden;
    transition-delay: 0s !important;
    text-transform: uppercase !important;
    letter-spacing: 2px;
}

.animated-btn::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: #151515;
    z-index: -1;
    transition: 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.animated-btn:hover::before {
    width: 100%;
    left: 0;
    right: unset;
}

.animated-btn:hover {
    box-shadow: 0 0 #fff, 0 0 #151515;
    color: white;
}